.label{
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-font-size: 14;
}

.tree-cell{
    -fx-background-color: #404040;
    -fx-text-fill: #ffffff;
}

.tree-view {
    -fx-background-color: #6f6f6f, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.tree-cell .tree-disclosure-node .arrow {
    /*-fx-shape: null;*/
    -fx-background-color: #808080;
    /*-fx-background-image: url("plus-arrow.png");*/
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    /*-fx-shape: null;*/
    -fx-background-color: #808080;
    /*-fx-background-image: url("minus-arrow.png");*/
}

.tree-cell:selected{
    -fx-background-color: #4e6cc5;
}


.text-field{
    -fx-background-color: #6f6f6f;
    -fx-text-fill: #ffffff;
}

.choice-box{
    -fx-background-color:
            #000000,
            linear-gradient(#4b4b4b, #696969),
            linear-gradient(#484848, #6f6f6f),
            linear-gradient(#6f6f6f, #535353);
}