.root{
    -fx-background-color: #454545;
    -fx-colour: #ffffff;
    -fx-background-radius: 0;
}

.text-area .content{
    -fx-background-color: #343434;
}

.text-area{
    -fx-text-fill: white;
    -fx-font-weight: 600;
    -fx-background-insets: 0;
    /*-fx-focus-color: -fx-focused-base;*/
    /*-fx-border-width: 10px;*/
    -fx-accent: #4e6cc5;
}

.text-area:focused{
    -fx-background-color: #343434;
}

/* menu items START*/
.menu-item .label{
    -fx-background-color: #454545;
    -fx-text-fill: #ffffff;
}

.menu-item{
    -fx-background-color: #454545;
}

.menu-item:hover{
    -fx-background-color: #4e6cc5;
    -fx-text-fill: #ffffff;
}

.menu-item:hover .label{
    -fx-background-color: #4e6cc5;
}

.context-menu {
    -fx-background-color: #454545;
    -fx-border-color: #ffffff;
    -fx-border-width: 20%;
}
/* menu items END*/
/* top menu START*/
.menu-button:showing{
    -fx-background-color: #4e6cc5;
}

.menu:hover{
    -fx-background-color: #4e6cc5;
}

.menu-button:hover{
    -fx-background-color: #4e6cc5;
}

.menu-bar{
    -fx-background-color: #454545;
    -fx-text-fill: #ffffff;
}

.menu-button .label{
    -fx-text-fill: #ffffff;
}
/* top menu END*/


